@model IEnumerable<SouthernCross.Web.Models.MemberViewModel>

<div id="search-result-container">
    @{
        foreach (MemberViewModel viewModel in Model)
        {
            
        }
    }
</div>
