@model IEnumerable<SouthernCross.Web.Models.MemberViewModel>

<div id="search-result-container">
    @{
        if (Model.Any())
        {
            foreach (MemberViewModel viewModel in Model)
            {
            
            }
        }
    }
</div>
